body{
    background-image: url(tobbikep/birds-and-flowers-cream-1.jpg);
}
main{
    box-sizing: border-box;
    max-width: 1000px;
    background-color: rgb(225, 191, 148);
    padding: 50px;
    margin: auto;
    border: 1px black solid;
}
nav ul{
    padding: 0;
}
nav{
    grid-area: n;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(196, 168, 131);
    color: white;
    text-align: center;
}
nav ul li a{
    color:rgb(51, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}
footer{
    text-align: center;
    background-color: aliceblue;
    grid-area: f;
}
#galeria{
    display: flex;
    margin: auto;
    max-width: 900px;
}
.galeriakepek{
    margin: 10px;
}
.galeriakepek img{
    margin: 10px;
}
@media only screen and (max-width: 700px) {
    main{
        display: grid;
        grid-template-areas: "n"
        "ar"
        "as"
        "f"
        ;
    }
    #galeria{
        display: grid;
        grid-template-columns: auto;
    }
    nav{
        width: 100%;
    }
    }
@media only screen and (max-width: 400px) {
    main{
        display: grid;
        grid-template-areas: "n"
        "ar"
        "as"
        "f"
        ;
    }
    #galeria{
        display: grid;
        grid-template-columns: auto;
    }
    nav{
        width: 100%;
    }
    }

