body{
    background-image: url(tobbikep/birds-and-flowers-cream-1.jpg);
    
}
main{
    background-color: antiquewhite;
    display: grid;
    border: 1px black solid;
    grid-template-areas: "n n"
                        "ar ar"
                        "as as"
                        "t t"
                        "v v"
                        "f f";
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(196, 168, 131);
    color: white;
    text-align: center;
}
nav ul{
    padding: 0;
}
nav ul li a{
    color:rgb(51, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}
footer{
    grid-area: f;
    text-align: center;
    background-color: aliceblue;
}
.insta img{
    max-width: 30px;
}
article{
    grid-area: ar;
    background-color: rgb(206, 183, 154);
    margin: auto;
}
article p{
    padding: 5px;
}
article img{
    padding: 25px;
    border: 1px black solid;
}
aside{
    grid-area: as;
    
}
.tablazat{
    max-width: 100%;
    grid-area: t;
    margin: auto;
    float: initial;
}
.szines{
    background-color: rgb(206, 183, 154);
    border-bottom: 1px black solid;
    max-width: 100%;
}
aside a{
    background-color: rgb(203, 178, 146);
    color: black;
    text-align: center;
    margin: auto;
    border: 1px black solid;
    text-decoration: none;
}
nav{
    grid-area: n;
    width:90%;
    margin: auto;
}
.rolam{
    max-width: 200px;
    float: right;
    border: 0;
    
}
table,th,tr{
    width: 100%;
}
tr{
    text-align: center;
}
th{
    text-align: center;
}
.video{
    padding: 10px;
    width:400px;
    
    margin: auto;
}
.sorozat p{
    gap: 30px
;
}
video{
    object-fit: contain;
    
    overflow: clip;
}
.sorozatok{
    float: right;
    grid-area: v;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
}
.sorozat{
    border-bottom: 1px black solid;
    margin: auto;
}
.sorozat h3{
    text-decoration: underline black;
}
.sorozatok p{
    text-align: justify;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width: 700px) {
    main{
        display: grid;
        grid-template-areas: "n"
        "ar"
        "as"
        "t"
        "v"
        "f"
        ;
    }
    .sorozat{
        margin: auto;
    }
    .video{
        max-width: 300px;
    }
    article p{
        margin: 10px;
    }
    .tablazat{
        max-width: 400px;
    }
    }
@media only screen and (max-width: 400px) {
    main{
        display: grid;
        grid-template-areas: "n"
        "ar"
        "as"
        "t"
        "v"
        "f"
        ;
    }
    .sorozat{
        margin: auto;
    }
    .video{
        max-width: 200px;
    }
    article p,article h3{
        margin: 10px;
    }
    nav{
        margin: 10px;
    }
    .tablazat{
        max-width:  300px;
    }
    }
@media only screen and (max-width: 500px) {
    main{
        display: grid;
        grid-template-areas: "n"
        "ar"
        "as"
        "t"
        "v"
        "f"
        ;
    }
    .sorozat{
        margin: auto;
    }
    .video{
        max-width: 250px;
    }
    article p,article h3{
        margin: 10px;
    }
    nav{
        margin: 10px;
    }
    .tablazat{
        max-width:  300px;
    }
    }