body{
    background-color: rgb(240, 229, 215);
}
main{
    box-sizing: border-box;
    max-width: 1000px;
    background-color: rgb(225, 191, 148);
    padding: 50px;
}

.kep{
    max-width: 150px;
    float: right;
}
.kep2{
    max-width: 150px;
    float: left;
}
.menu img{
    max-width: 300px;
    max-height: 300px;
    border: 1px black solid;
    padding: 15px;
}
.menu{
    border: 1px black solid;
    padding: 15px;
    text-align: center;
}
div{
    border: 1px black solid;
    max-width: 350px;
    padding: 0;
    border: 0;

}
.rolam img{
    max-width: 300px;
    float: right;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(196, 168, 131);
    color: white;
    text-align: center;
}
nav ul li a{
    color:rgb(51, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}
footer{
    text-align: center;
    background-color: aliceblue;
}
.insta img{
    max-width: 30px;
}
article{
    box-sizing: border-box;
}
.munka img{
    max-width: 800px;
}
.munka table{
    background-color:rgb(225, 191, 148) ;
}
.insta1 img{
    max-width: 300px;
    max-height: 300px;
    border: 1px black solid;
    padding: 15px;
}