body{
    background-color: rgb(240, 229, 215);
}
main{
    box-sizing: border-box;
    max-width: 1000px;
    background-color: rgb(225, 191, 148);
    padding: 50px;
    margin: auto;
}

.kep{
    max-width: 150px;
    float: right;
}
.kep2{
    max-width: 150px;
    float: left;
}
.menu img{
    max-width: 300px;
    max-height: 300px;
    border: 1px black solid;
    padding: 15px;
}
.menu{
    border: 1px black solid;
    padding: 15px;
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}
div{
    border: 1px black solid;
    max-width: 350px;
    padding: 0;
    border: 0;

}
.rolam{
    max-width: 250px;
    float: right;
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(196, 168, 131);
    color: white;
    text-align: center;
}
nav ul li a{
    color:rgb(51, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}
footer{
    text-align: center;
    background-color: aliceblue;
}
.insta img{
    max-width: 30px;
}
article{
    box-sizing: border-box;
}
.munka img{
    max-width: 800px;
}
.munka td{
    text-align: center;
}
.munka td a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(144, 190, 152);
    color: black;
    text-align: center;
    font-weight: lighter;
    font-size: large;
    font-style: oblique;
}
.szoveg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: italic;
    font-weight: lighter;
}
.munka table{
    background-color:rgb(225, 191, 148) ;
}
.insta1 img{
    max-width: 300px;
    max-height: 300px;
    border: 1px black solid;
    padding: 15px;
}
.insta1{
    margin: auto;
    background-color: antiquewhite;
}
