body{
    background-color: rgb(240, 229, 215);
    
}
main{
    display: grid;
    grid-template-areas: "n n"
                        "ar as"
                        "ar as"
                        "f f";
}
nav ul li{
    list-style-type: none;
    text-decoration: none;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 12px;
    padding: 5px;
    background-color: rgb(196, 168, 131);
    color: white;
    text-align: center;
}
nav ul li a{
    color:rgb(51, 45, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}
footer{
    grid-area: f;
    text-align: center;
    background-color: aliceblue;
}
.insta img{
    max-width: 30px;
}
article{
    grid-area: ar;
}
article img{
    padding: 25px;
    border: 1px black solid;
}
aside{
    grid-area: as;
    background-color: rgb(87, 181, 150);
    border: 1px black solid;
}
aside img{
    padding: 25px;
    border: 1px black solid;
}
nav{
    grid-area: n;
}

