body{
    background-image: url(tobbikep/birds-and-flowers-cream-1.jpg);
}
main{
    box-sizing: border-box;
    max-width: 1000px;
    background-color: rgb(225, 191, 148);
    padding: 50px;
    margin: auto;
   
    border-radius: 10px;
}

.menu img{
    max-width: 300px;
    max-height: 300px;
    border: 1px black solid;
    padding: 15px;
    border-radius: 10px;
}

.menu{
    border-radius: 10px;
    border: 1px rgb(218, 160, 109) solid;
    padding: 15px;
    text-align: center;
    margin: auto;
    background-color: antiquewhite;

}
nav{
    margin-bottom: 10px;
}
.felirat a{
    text-decoration: none;
    margin:5px;
    font-size: medium;
    color: black;
}
.felirat a:hover{
    color: brown;
}
div{
    border: 1px black solid;
    max-width: 350px;
    padding: 0;
    border: 0;

}
footer{
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
}
article{
    box-sizing: border-box;
}
.insta1 img{
    max-width: 300px;
    max-height: 300px;
    border: 1px black solid;
    padding: 15px;
}
.insta1{
    margin: auto;
    padding-left: 15px;
}
header{
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-size: 40px;
}

@media only screen and (max-width: 700px) {
    main{
        max-width: fit-content;
    }
    .menu img{
        max-width: 150px;
    }
    }
@media only screen and (max-width: 400px) {
    main{
        max-width: fit-content;
    }
    .menu img{
        max-width: 100px;
    }
    }
